<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum.mapper.FollowMapper">

    <select id="getFansUserIds" resultType="java.lang.Long">
        select distinct t.user_id from follow t, user u where t.user_id = u.id AND t.accept_user_id = #{userId} AND t.del_flag = 0 AND u.del_flag = 0
    </select>
