<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <div th:replace="home/module/_header"></div>

    <main id="tt-pageContent" class="tt-offset-small">
        <div class="container">
            <div class="tt-user-header">
                <div class="tt-col-avatar">
                    <div class="tt-icon">
                        <img th:src="${user.userAvatar}" class="avatar" alt="">
                    </div>
                </div>
                <div class="tt-col-title">
                    <div class="tt-title">
                        <a href="#">[[${user.userDisplayName}]]</a>
                    </div>
                    <ul class="tt-list-badge">
                        <li>[[${user.userDesc}]]</li>
                        <li class="follow-box">
                            <a href="javascript:void(0)" th:style="${followFlag == 'Y' ? 'display: none' : 'display:block'}" class="follow-btn" th:data-id="${user.id}"><span class="tt-color03 tt-badge">关注Ta</span></a>
                            <a href="javascript:void(0)" th:style="${followFlag == 'N' ? 'display: none' : 'display:block'}" class="unfollow-btn" th:data-id="${user.id}"><span class="tt-color08 tt-badge">取消关注</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tt-tab-wrapper">
                <div class="tt-wrapper-inner">
                    <ul class="nav nav-tabs pt-tabs-default" role="tablist">
                        <li class="nav-item show">
                            <a class="nav-link active" th:href="${'/user/'+user.id+'/question'}"><span>帖子列表</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="${'/user/'+user.id+'/post'}"><span>文章列表</span></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane tt-indent-none active" role="tabpanel">
                        <div class="tt-topic-list">
                            <div class="tt-list-header">
                                <div class="tt-col-topic">标题</div>
                                <div class="tt-col-category">板块</div>
                                <div class="tt-col-value-large hide-mobile">回帖数</div>
                                <div class="tt-col-value-large hide-mobile">收藏数</div>
                                <div class="tt-col-value-large hide-mobile">发布时间</div>
                            </div>
                            <div class="tt-item" th:each="question : ${questions}">
                                <div class="tt-col-avatar">
                                    <a th:href="'/user/'+${question.userId}">
                                        <img th:src="${question.user.userAvatar}" class="avatar" alt="">
                                    </a>
                                </div>
                                <div class="tt-col-description">
                                    <h6 class="tt-title">
                                        <a th:href="'/question/'+${question.id}"
                                           target="_blank">[[${question.title}]]</a>
                                    </h6>
                                    <div class="tt-col-message">
                                        [[${question.summary}]]
                                    </div>
                                </div>
                                <div class="tt-col-category">
                                    <a th:if= "${question.category != null}" th:href="'/category/'+${question.category.id}"><span
                                            th:class="'tt-color0'+${question.category.cateSort%9+1}+' tt-badge'">[[${question.category.cateName}]]</span>
                                    </a>
                                </div>
                                <div class="tt-col-category tt-col-value-large hide-mobile">
                                    [[${question.answerCount}]]
                                </div>
                                <div class="tt-col-value-large hide-mobile">
                                    [[${question.markCount}]]
                                </div>
                                <div class="tt-col-value-large hide-mobile">
                                    [[${question.createTimeStr}]]
                                </div>
                            </div>
                        </div>
                        <div th:replace="home/module/_page"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="home/module/_footer"></div>
